<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Root -->
        <menuitem id="menu_brains_root" 
                  name="Brains Campus"
                  sequence="10"/>

        <!-- Campus main -->
        <menuitem id="campus"
                  name="Campus"
                  parent="menu_brains_root"
                  sequence="1"/>

        <!-- Campus -->
        <menuitem id="menu_brains_campus" 
                  name="Campus" 
                  action="action_campus" 
                  parent="campus"
                  sequence="1"/>

        <!-- Faculty -->
        <menuitem id="menu_brains_faculte" 
                  name="Faculty" 
                  action="action_faculty" 
                  parent="campus"
                  sequence="2"/>

        <!-- Speciality -->
        <menuitem id="menu_brains_speciality" 
                  name="Specialities" 
                  action="action_speciality" 
                  parent="campus"
                  sequence="3"/>

        <!-- Cours parent -->
        <menuitem id="cours"
                  name="Cours"
                  parent="menu_brains_root"
                  sequence="3"/>
        
        <!-- Courses -->
        <menuitem id="menu_brains_cours" 
                  name="Courses" 
                  action="action_school_cours" 
                  parent="cours"
                  sequence="1"/>
        
        <!-- Teachers -->   
        <menuitem id="menu_brains_teachers" 
                  name="Teachers" 
                  action="open_view_employee_list_my"
                  parent="cours"
                  sequence="2"/>

        <!-- Cursus parent -->
        <menuitem id="cursus"
                  name="Cursus"
                  parent="menu_brains_root"
                  sequence="2"/>

        <!-- Cursus -->
        <menuitem id="menu_brains_cursus" 
                  name="Cursus" 
                  action="action_brains_cursus" 
                  parent="cursus"
                  sequence="1"/>

        <!-- Levels -->
        <menuitem id="menu_brains_level"   
                  name="Levels" 
                  parent="cursus"
                  action="action_brains_level"
                  sequence="4"/>

        <!-- Semesters -->
        <menuitem id="menu_brains_semestre"
                  name="Semesters"
                  parent="cursus"
                  action="action_brains_semestre"
                  sequence="5"/>

        <!-- Classes -->
        <menuitem id="menu_brains_classroom"
                  name="Classes"
                  parent="cursus"
                  action="action_brains_classroom"
                  sequence="6"/>

        <!-- Employees / Contacts -->
        <menuitem id="menu_hr_employee_user"
                  name="Contacts"
                  action="hr.open_view_employee_list_my"
                  parent="menu_brains_root"
                  sequence="8"/>

        <!-- Students -->
        <menuitem id="menu_brains_students"
                  name="Students"
                  action="open_view_student_list_my"
                  parent="menu_brains_root"
                  sequence="9"/>

        <!-- Timetables -->
        <menuitem id="menu_brains_timetable"
                  name="Timetables"
                  action="action_brains_timetable"
                  parent="menu_brains_root"
                  sequence="10"/>

        <!-- Paramètres -->
        <menuitem id="menu_brains_settings" 
                  name="Settings" 
                  parent="menu_brains_root"
                  sequence="100000"/>

        <!-- School Years -->
        <menuitem id="menu_school_year" 
                  name="School Years" 
                  parent="menu_brains_settings" 
                  action="action_school_year"
                  sequence="2"/>
    </data>
</odoo>
